{% extends 'MainBundle/Templates/templateFlat.twig' %}


{% block main %}


	<div class="container-fluid" id="content">
		<div id="main">

				<div class="title">Welcome again.</div>
		</div>
	</div>



{% endblock %}
