



<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

		<!--- start option  -->

                    {% include "Components/Includes/menu.twig" with {'links':topMenu} only %}
		<!--- end option  -->
		 

		</ul>
		<form class="form-inline my-2 my-lg-0">
			user@server
			{# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="user@server"> #}
			{# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
		</form>
		<ul class="navbar-nav mr-right">
			&nbsp;&nbsp;<a class="btn btn-success" href="/logout">Logout</a>
		</li>
		</ul>
	</div>
</nav>
