
    <div id="left">
        <form action="search-results.html" method="GET" class='search-form'>
            <div class="search-pane">
                <input type="text" name="search" placeholder="Search here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        {% if  name is defined and name is not empty %}
        <div class="subnav">
            <div class="subnav-title">
                <a href="#" class='toggle-subnav'>
                    <i class="fa fa-angle-down"></i>
                    <span>Menu</span>
                </a>
            </div>

            <ul class="subnav-menu">
                <li >
                    <a href="/car/new">Register New Event</a>
                </li>
               
            </ul>
        </div>
        {% endif %}
       
    </div>



