<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		{# <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> #}
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			/*
			*
			* ==========================================
			* CUSTOM UTIL CLASSES
			* ==========================================
			*
			*/

			.dropdown-submenu {
			position: relative;
			}

			.dropdown-submenu>a:after {
			content: "\f0da";
			float: right;
			border: none;
			font-family: 'FontAwesome';
			}

			.dropdown-submenu>.dropdown-menu {
			top: 0;
			left: 100%;
			margin-top: 0px;
			margin-left: 0px;
			}

			
		</style>

		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

		<script>
		$(function() {
		// ------------------------------------------------------- //
		// Multi Level dropdowns
		// ------------------------------------------------------ //
		$("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
			event.preventDefault();
			event.stopPropagation();

			$(this).siblings().toggleClass("show");


			if (!$(this).next().hasClass('show')) {
			$(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
			}
			$(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
			$('.dropdown-submenu .show').removeClass("show");
			});

		});
		});

			$(document).ready(function() {
				$('#example').DataTable();
			} );
		</script>
		<style>
			body {
				margin: 0;
				padding-left: 0;
				padding-right: 0;
			}

			.container-fluid {
				margin: 0;
				padding-left: 0;
				padding-right: 0;
			}
			.title {
				/* text-align: center; */
				font-weight: bold;
				font-size: 32px;
				padding-top: 20px;
				padding-bottom: 10px;
			}
			.main {
				padding: 20px;
			}

			#content {
				padding-left: 20px;
				padding-right: 20px;
			}
		</style>





		<title>Document</title>
	</head>
	<body>

		<div class="container-fluid">

			{% include 'Components/navbar.twig' %}

			<div class="container-fluid" id="content">
				<div id="main"> 
                {% block main %}{% endblock %}
                </div>
            </div>
			{% block footer %}{% include 'footer.twig' %}{% endblock %}
        </div>
    </body>
</html>
